SignArtSmimeServiceClient/src/META-INF/wsdl/demo.biznet.com.tr/SignArt/SignArtSmimeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://smime.ws.service.msign.biznet.tr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://smime.ws.service.msign.biznet.tr/" name="SignArtSmimeService">
<wsp:Policy wsu:Id="SignArtSmimeServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://smime.ws.service.msign.biznet.tr/" schemaLocation="http://demo.biznet.com.tr:80/SignArt/SignArtSmimeService?xsd=1"/>
</xsd:schema>
</types>
<message name="verify">
<part name="parameters" element="tns:verify"/>
</message>
<message name="verifyResponse">
<part name="parameters" element="tns:verifyResponse"/>
</message>
<message name="sign">
<part name="parameters" element="tns:sign"/>
</message>
<message name="signResponse">
<part name="parameters" element="tns:signResponse"/>
</message>
<message name="mobileSign">
<part name="parameters" element="tns:mobileSign"/>
</message>
<message name="mobileSignResponse">
<part name="parameters" element="tns:mobileSignResponse"/>
</message>
<message name="prepareDataToSign">
<part name="parameters" element="tns:prepareDataToSign"/>
</message>
<message name="prepareDataToSignResponse">
<part name="parameters" element="tns:prepareDataToSignResponse"/>
</message>
<message name="prepareFingerprint">
<part name="parameters" element="tns:prepareFingerprint"/>
</message>
<message name="prepareFingerprintResponse">
<part name="parameters" element="tns:prepareFingerprintResponse"/>
</message>
<portType name="SignArtSmimeService">
<operation name="verify">
<input wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/verifyRequest" message="tns:verify"/>
<output wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/verifyResponse" message="tns:verifyResponse"/>
</operation>
<operation name="sign">
<input wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/signRequest" message="tns:sign"/>
<output wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/signResponse" message="tns:signResponse"/>
</operation>
<operation name="mobileSign">
<input wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/mobileSignRequest" message="tns:mobileSign"/>
<output wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/mobileSignResponse" message="tns:mobileSignResponse"/>
</operation>
<operation name="prepareDataToSign">
<input wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/prepareDataToSignRequest" message="tns:prepareDataToSign"/>
<output wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/prepareDataToSignResponse" message="tns:prepareDataToSignResponse"/>
</operation>
<operation name="prepareFingerprint">
<input wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/prepareFingerprintRequest" message="tns:prepareFingerprint"/>
<output wsam:Action="http://smime.ws.service.msign.biznet.tr/SignArtSmimeService/prepareFingerprintResponse" message="tns:prepareFingerprintResponse"/>
</operation>
</portType>
<binding name="SignArtSmimeServicePortBinding" type="tns:SignArtSmimeService">
<wsp:PolicyReference URI="#SignArtSmimeServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mobileSign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prepareDataToSign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prepareFingerprint">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SignArtSmimeService">
<port name="SignArtSmimeServicePort" binding="tns:SignArtSmimeServicePortBinding">
<soap:address location="http://demo.biznet.com.tr:80/SignArt/SignArtSmimeService"/>
</port>
</service>
</definitions>